@model System.DateTimeOffset?
@{
    ViewBag.Title = "DateTime";
}

<span>
    @(Model.HasValue ? Model.Value.ToLocalTime().ToString("G") : "-")

    @*@(Model.ToLocalTime().ToString("G"))*@
</span>

